@font-face {
    font-family: 'Marianne';
    src: url('https://github.com/Utili-lab/Marianne/raw/refs/heads/main/Marianne/fontes%20web/Marianne-Regular.woff') format('woff'),
    font-weight: normal;
    font-style: normal;
}