@font-face {
    font-family: 'Marianne';
    src: url('https://github.com/GouvernementFR/dsfr/raw/refs/heads/main/src/core/asset/fonts/Marianne-Regular.woff') format('woff'),
    font-weight: normal;
    font-style: normal;
}
